@import "settings";
@import "foundation";

/* ---------------------------------------------- */
/* Overall -------------------------------------- */
/* ---------------------------------------------- */
body {
    background: none;
    background-color: #006600;
}

a {
    color: #006600;
}

a:hover {
    color: #70AA70;
}

/* ---------------------------------------------- */
/* Main Body ------------------------------------ */
/* ---------------------------------------------- */
.main-body-row {
    background: white;
    padding: 20px;
}

/* ---------------------------------------------- */
/* Index (Home) --------------------------------- */
/* ---------------------------------------------- */
.newsletter-submit {
    background-color: #006600;
}

.newsletter-submit:hover {
    background-color: #70AA70;
}

/* ---------------------------------------------- */
/* Events --------------------------------------- */
/* ---------------------------------------------- */
.calendar {
    max-width: 900px;
    margin: 0 auto;
}

/* ---------------------------------------------- */
/* Courses -------------------------------------- */
/* ---------------------------------------------- */
.course-list {
    border: 1px solid black;
    padding: 5px;
    max-height: 500px;
    overflow-y: scroll;
}

.course-list-item {
    background-color: white;
    color: black;
}

.course-list-item:hover {
    background-color: #70AA70;
    color: black;
}

.course-list-item-active {
    background-color: #006600;
    color: black;
}

/* ---------------------------------------------- */
/* Gallery -------------------------------------- */
/* ---------------------------------------------- */
.photo-gallery-thumbnail {
    width: 200px;
    height: 200px;
}

/* ---------------------------------------------- */
/* Overwrite Foundation's Clearing Gallery Hover  */
/* ---------------------------------------------- */
.th:hover ,.th:focus {
    box-shadow: 0 0 6px 1px rgba(0, 102, 0, 1);
}

/* ---------------------------------------------- */
/* About ---------------------------------------- */
/* ---------------------------------------------- */
.about-me-profile-image {
    width: 30%;
    margin: 10px;
}

/* ---------------------------------------------- */
/* Footer --------------------------------------- */
/* ---------------------------------------------- */
.footer {
    background: black;
    color: gray;
    padding: 20px;
}

/* ---------------------------------------------- */
/* Media Queries -------------------------------- */
/* ---------------------------------------------- */
@media (min-width: 1200px) {
    body {
        background: url(../images/background.jpg) no-repeat center center fixed; 
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}