@import "settings";
@import "foundation";

body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.footer {
    background: black;
    color: gray;
    padding: 20px;
}

.main-body-row {
    background: white;
    padding: 20px;
}

.calendar {
    max-width: 900px;
    margin: 0 auto;
}
